@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Authencticate App</h1>
    <p>Web app to authencticate with Azure B2C and public identity providers like Google</p>
</div>
